*{
    background-color: black;
}


div{
    padding:10px;
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
img{
    width: 100%;
    border:5px solid white
}
h1{
    text-transform: uppercase;
}